@media (max-width:600px)
{
input::-webkit-input-placeholder { /* WebKit browsers */
  
  margin-left:5px;
  color:grey;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 padding-left:5px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding-left:5px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding-left:5px;
}

.loginbox{

width:auto !important;height:auto !important;
margin:0% !important;
padding:0% !important;
background-color:#ba0032 !important;
}

.top-login{
  width: 100%;
  margin: 0%;
  padding:0%;
  height:50px;
  
  }
  
  .logo{
       width: 100%;
	  float: left;
	  padding:0%;
	  height:50px;
	   }
  
  #image_logo{ width:30%;
  				height:30px;
				margin:2% 32%;}
				
.right-loginbox{display:none !important;}
.right-loginbox-1{display:none !important;}
.body_signup{
background-image:url(../images/slms_bg.png);
width:100%;
height:400px;
}

.signupbox{
    height: auto;
  background: rgba(186,0,50,.7);
  float: right;
  margin:30% 4% 0%;
  width: 92%;
  border-radius:4px;
}

.home{display:block !important;}
.home_btn{ display:block !important;
	   border-radius:4px;
	   text-align:center;
	   height: 30px;
  width: 96%;
  margin:2%;
  background-color: #ba0032;
  border-color: #72142d;
  color: white;
  border: 1px solid #72142d;
  cursor: pointer;
   }
  .home a{text-decoration:none;} 
   
    

.signup_container{
width:100%;
margin:0 auto;
height:auto;

}


.signup_head{
  border-bottom: 1px solid whitesmoke;
  }
  
.signup_head h3{
  color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 15px;
  font-weight: 500;
  margin:2%;
  }
  
 .form_pad{
padding:0px;
width:100%;
margin:0%;
height:auto;
}

  .signupinput-l{
    width: 95%;
  height: 20px;
  margin: 1%;
  padding:4px;
  border-radius:4px;
  border:1px solid white;}
  
  .signupbutton{
   height: 30px;
  width: 96%;
  margin:2%;
  background-color: #ba0032;
  border-color: #72142d;
  color: white;
  border: 1px solid #72142d;
  cursor: pointer;
  border-radius:4px;
}

.footer_bottom{
width:100%;
height:50px;
margin:0%;
padding:0%;
}



.foot_menu a{
text-decoration: none;
  list-style: none;
  color: #ba0032;
  float: left;
  padding-right:20px ;
    }
	

.fbicon{
  width: 1.03%;
  position: absolute;
  /* top: 34px; */
  margin-left: 5px;
  margin-top: 5px;
  }


}


 @media (min-width:768px) and (max-width:900px)
{
body{ width:100% !important;
	height:650px;
background-color:#dcdcdc;
margin:0 auto !important;
}


table{
font-size:12px;
}

.form_pad{
padding:20px;
}

select{
width:16%;
height: 30px;
background-color: white;
opacity: 1;
color:grey;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  
  margin-left:5px;
  color:grey;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 padding-left:5px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding-left:5px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding-left:5px;
}
  
.loginbox{
background-color:#ba0032;width:100%;height:85px;
}

.top-login{
  width: 100%;
  margin: 0 auto;
  }
  
  .logo{
  padding-top: 2.5%;
    width: 20%;
	  float: left;
	  margin-left:1%;
  }
  
  .home{display:none !important;}
  .right-loginbox{
  float:right;
  padding-top:1%;
   color: white;
  font-family: helvetica;
  margin-right:1%;
  }
  .inputtext,.inputpass{
   border: 1px solid #5e0019;
  border-color: #5e0019;
  margin: 0;
  width: 100%;
  height: 20px;
  }
  
.magic{
padding:0px 15px 6px 0px !important;
}

.magic2{
padding:0px 0px 6px 0px !important;
}

.uiInputLabelLabel {
color:#dcdcdc;
}
.uiInputLabelCheckbox{
    margin:0px;
}

.magic a{
color:#dcdcdc;
text-decoration:none;
}

.loginbutton{
  height: 23px;

    background-color: #ba0032;
  border-color: #72142d;
  color: white;
  border: 1px solid #72142d;
    cursor: pointer;
}
 

.body_signup{
background-image:url(../images/slms_bg.png);
width:100%;
height:500px;
}

.signupbox{
    height: auto;
  background: rgba(186,0,50,.7);
  float: right;
  margin:30px 8px 0px 0px ;
  width: 50%;
  
}
.signup_container{
width:100%;
margin:0 auto;
}


.signup_head{
  border-bottom: 1px solid whitesmoke;
  }
  
.signup_head h3{
  color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 17px;
  font-weight: 500;
  }
  
 .signupinput-m{
  width: 35%;
  height: 24px;
  margin-left: 12px;
  padding-left: 5px;
  }
  
  .signupinput-l{
    width: 97.3%;
  height: 24px;
  /* margin-left: 12px; */
  padding-left: 5px;
  margin-top: 12px;
  }
  .signup_select{
  margin-top:12px;
  width: 100%;
  }
  .signupbutton{
   height: 30px;
  width: 100%;
  margin-top: 12px;
  background-color: #ba0032;
  border-color: #72142d;
  color: white;
  border: 1px solid #72142d;
  cursor: pointer;
}

.footer_bottom{
width:100%;
margin:0 auto;
}

.foot_menu a{
text-decoration: none;
  list-style: none;
  color: #ba0032;
  float: left;
  padding-right:60px;
  padding-top:7px;
  }

.fbicon{
  width: 1.03%;
  position: absolute;
  /* top: 34px; */
  margin-left: 5px;
  margin-top: 5px;
  }
}
