body{
background-color:#dcdcdc;
margin:0 auto !important;
}

table{
font-size:12px;
}

.form_pad{
padding:20px;
}

select{
height: 30px;
background-color: white;
opacity: 1;
color:grey;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  
  margin-left:5px;
  color:grey;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 padding-left:5px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding-left:5px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding-left:5px;
}
  
.loginbox{
background-color:#ba0032;width:100%;height:85px;
}

.top-login{
  width: 980px;
  margin: 0 auto;
  }
  
  .logo{
  padding-top: 2.5%;
    width: 200px;
	  float: left;
  }
  .home, 
  .right-loginbox-1{ display:none !important;}
  .right-loginbox{display:block !important;
  float:right;
  padding-top:1%;
   color: white;
  font-family: helvetica;
  }
  .inputtext,.inputpass{
   border: 1px solid #5e0019;
  border-color: #5e0019;
  margin: 0;
  width: 154px;
  height: 20px;
  }
  
.magic{
padding:0px 15px 6px 0px !important;
}

.magic2{
padding:0px 0px 6px 0px !important;
}

.uiInputLabelLabel {
color:#dcdcdc;
}
.uiInputLabelCheckbox{
    margin:0px;
}

.magic a{
color:#dcdcdc;
text-decoration:none;
}

.loginbutton{
  height: 23px;

    background-color: #cc0033;
  border-color: #9e042d;
  color: white;
  border: 1px solid #9e042d;
    cursor: pointer;
	border-radius:5px !important;
}

.loginbutton:hover{
color:white;
text-decoration:none;
}


.loginfb{
  height: 23px;

    background-color: #cc0033;
  border-color: #9e042d;
  color: white;
  border: 1px solid #9e042d;
    cursor: pointer;
}

.body_signup{
background-image:url(../images/slms_bg.png);
width:100%;
height:500px;
}

.signupbox{
    height: auto;
  background: rgba(186,0,50,.7);
  float: right;
  margin:30px 0 0 0 ;
  width: 400px;
  
}
.signup_container{
width:980px;
margin:0 auto;
}


.signup_head{
  border-bottom: 1px solid whitesmoke;
  }
  
.signup_head h3{
  color: white;
  text-align: center;
  font-family: helvetica;
  font-size: 17px;
  font-weight: 500;
  }
  
 .signupinput-m{
  width: 128px;
  height: 24px;
  margin-left: 12px;
  padding-left: 5px;
  }
  
  .signupinput-l{
    width: 97.3%;
  height: 24px;
  /* margin-left: 12px; */
  padding-left: 5px;
  margin-top: 12px;
  }
  .signup_select{
  margin-top:12px;
  width: 100%;
  }
  .signupbutton{
   height: 30px;
  width: 100%;
  margin-top: 12px;
  background-color: #cc0033;
  border-color: #9e042d;
  color: white;
  border: 1px solid #9e042d;
  cursor: pointer;
  border-radius:5px !important;
}

.footer_bottom{
width:980px;
margin:0 auto;
}

.foot_menu a{
text-decoration: none;
  list-style: none;
  color: #ba0032;
  float: left;
  padding-right:60px;
  padding-top:7px;
  }

.fbicon{
  width: 10px;
  position: absolute;
  /* top: 34px; */
  margin-left: 5px;
  margin-top: 5px;
  }
 .btn-pad{
 padding:6px;
 }
 .btn-height{
     float: right;
    height: 30px;
	    min-width: 50px;
    text-align: center;
	border-radius:5px;
	}
 
  
.mdesc_li{
float:left;
list-style:none;
text-decoration:none;
margin-right:2%;
color:#ba0032;
}

.mdesc_li a:hover, .mdesc_li a:active, .mdesc_li a:focus, .mdesc_li a:visited {
text-decoration:none;
}

.mdesc_ul{
padding:0px;
}

.mdesc_hr{
border:1px solid #c3c3c3;
margin-bottom:2px;
}

.mdesc_width{
width:68.2%;
border-top: 1px solid #c3c3c3;

}

.mdesc_div{
    border: 1px solid #c3c3c3;
    padding: 10px;
}

.mdesc_pad{
padding:5px 0px 0px 5px !important;
}


.timeline-block .panel-heading .media-body a{
    
    font-weight: bold !important;
    color: #fff !important;
	font-size:14px !important;
	
}

.timeline-block .panel-heading .media-body a:hover{
  
    font-weight: bold !important;
    color: #fff !important;
	font-size:14px !important;
	
}


.timeline-block .panel-heading{
	padding: 0 !important;
    color: #fff !important;
    border-bottom: 0 !important;
}

.timeline-block .panel-heading .media-body i{
    padding: 20px 5px 0 0;
	}

/*.timeline-block .panel-heading .media-body span{

padding:10px !important;
}*/

.panel.panel-default ul.comments{
    list-style: none;
    padding: 0;
    border-top: 1px solid #e2e9e6;
    margin-bottom: 0;
}
.panel.panel-default ul.comments li{
      border-bottom: 1px solid #f5f5f5;
    background: #fff;
    padding: 5px;
    margin-top: 0px;
}
.hours_pad{
    padding-top: 15px;
    padding-right: 5px;
}
.text-blue{
color:#252525;
}

.pad_0{
padding:0 !important;
}
.border_0{
border:0px !important;
}

.pad_top_80{
    padding-top: 80px !important;
}

/*.panel-collapse-trigger.panel-heading:after{
right:2px !important;
}*/

.dotwrap{
	word-wrap: break-word;
    width: 250px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.margin_top10{
margin-top:10px;
}

.default_color{
    color: #ba0032 !important;
}

.color_red{
color:red !important;
}
.color_blue{
color:#42a5f5 !important;
}
.color_black{
color:black!important;
}
.width75{
width:75px !important;
height:30px !important;
}

.text_upper{
text-transform:uppercase;
}


.margin_s{
    margin-top: -3px;
    margin-bottom: -10px;
	}
.margin_w{
	    margin-top: -20px;
    margin-bottom: 0px;
}
.margin_n{
	    margin-top: -20px;
    margin-bottom: -10px;
}
.margin_h{
    margin-top: -11px !important;
    margin-bottom: -3px !important;
}

.margin_f{
    margin-bottom: -14px !important;
}

.margin_top10{
margin-top:10px !important;
}

.margin_topm5{
    margin-top: -5px;
}

.margin_topm8{
    margin-top: -8px !important;
}

.margin_top2p{
    margin-top: 2px !important;
}

.margin_tb12{
  margin-top: -12px;
    margin-bottom: 12px;
	}
	
.margin_tb4{
  margin-top: -4px;
    margin-bottom: 4px;
	}

.hr_full{
    width: 350px;
    margin-left: -20px;
    margin-top: 12px;
	margin-bottom: 12px;
}

.width_25p{
width:25% !important;
}

.width_30p{
width:30% !important;
}

.width_36p{
width:36.5% !important;
}

.width_40p{
width:40% !important;
}

.width_50p{
width:49.1% !important;
}


.width_60p{
width:60% !important;
}
.width_80p{
width:80% !important;
}
.width_100p{
width:100% !important;
}

.line_height20{
    line-height: 20px;
}

.clear_both{
clear:both;
}

.margin_topm35{
margin-top:-35px !important;
}

.margin_top15{
margin-top:15px;
}

.footer_sec{
background:#ffffff;
position: fixed;
bottom: 0;
left: 0; 
right: 0;
margin: 0;
box-shadow: 0 -3px 5px -3px rgba(0,0,0,.15);
z-index: 101;
color:#ba0032;
margin:0 auto;
padding:5px 20px 5px 25px;
height:30px;}

.footer_sec_li{

float:left;
}

<!---------Changes made by Praveen on 13Aug2015------->
.form-header label {
    display: block;
    cursor: pointer;
    z-index: 999;
}
<!---------Changes made by Praveen on 14Aug2015------->
.mobview1{ float:left;}
.mobview{ float:right;}
.video_bottom{ display:none !important; }
.video_top{ position: fixed;
    top: 460px;
    left: 25px;}
@media(max-width:480px)
{
#login-form{ width:95% !important;}
.mobview{ width:100% !important;  }
.form-header li{ width:50% !important;}
.center{ width:85% }
.input{ width:80% !important; padding-left:5px !important;}
.ul-list li{margin:0% !important; padding:0% !important;}
.labeln{ margin-top:5px !important;}
.buttons{ padding:0% !important; margin-right:8% !important;}
.social-login{width:87% !important;}
.margin_left6{ margin-left:6% !important;}
.input_email{ width:85% !important;}
.video_bottom{ display:block !important; margin:2% 10% -1%;}
.video_top{ display:none !important;}
.footer_sec{ padding:5px 10px 5px 40px !important;
			margin-top:0% !important;
			position:relative !important;}
}
@media (min-width:768px) and (max-width:900px)
{
.video_top{ position: fixed !important;
    top: 640px !important;
    left: 25px !important;}
}
/*                     Avadh css code                  */


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #BA0032 !important;
    border-color: #8E0228 !important;
    color: #fff;
    z-index: 2;
    font-weight: bolder;
}

.outLine{
border: 1px solid #BA0032; 
padding: 10px;
}

 #thead th{
border: 1px solid #8E0228;
}

#tbody td{
border: 1px solid #BA0032;
}


.fieldFill{
	background-color: #c2c2c2;
    border: 1px solid blue;
    color: red;
}

			/*                   End  Avadh css code                  */
 